[Unit]
Description=Karo platform bus hub

[Service]
ExecStart=/usr/bin/karo-bus-hub
StandardOutput=journal
Restart=always

[Install]
WantedBy=multi-user.target
Alias=karo.hub.service
