[Unit]
Description=Krossbar platform bus hub

[Service]
ExecStart=/usr/bin/krossbar-bus-hub
StandardOutput=journal
Restart=always
StartLimitIntervalSec=10
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
