[Unit]
Description=Krossbar platform hub

[Service]
ExecStart=/usr/local/bin/krossbar-hub
StandardOutput=journal
Restart=always
StartLimitIntervalSec=10
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
