[Unit]
Description=Krossbar platform hub

[Service]
ExecStart=/usr/local/bin/krossbar-hub
StandardOutput=journal
Restart=always
StartLimitInterval=10s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
