[tasks.format]
install_crate = "rustfmt"
command = "cargo"
args = ["fmt", "--", "--emit=files"]

[tasks.clean]
command = "cargo"
args = ["clean"]

[tasks.build]
command = "cargo"
args = ["build"]

[tasks.build-release]
command = "cargo"
args = ["build", "--release"]

[tasks.build-examples]
command = "cargo"
args = ["build", "--examples"]

[tasks.build-examples-release]
command = "cargo"
args = ["build", "--examples", "--release"]

[tasks.test]
command = "cargo"
args = ["nextest", "run"]

[tasks.new-build]
dependencies = ["clean", "build"]

[tasks.readme]
workspace = false
command = "../scripts/gen_readme.sh"
args = ["."]

[tasks.install-examples]
dependencies = ["build-examples"]
command = "scripts/install-examples.sh"

[tasks.install-examples-release]
dependencies = ["build-examples-release"]
command = "scripts/install-examples.sh"
args = ["release"]
